<div class="container-fluid">
    <div class="row">
        <div class="container-fluid" id="logo-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-1 px-5">
                        <a routerLink="/home"><img src="../../assets/images/logo.jpg" alt="hello" id="logo"></a>
                    </div>
                    <div class="col-sm-5 col-mx-0" id="logo-text">
                        <a class="navbar-brand" routerLink="/home">{{title}}</a>
                    </div>
                    <div class="col justify-content-end">
                        <ul class="nav justify-content-end navbar-dark">
                            <li class="nav-item text-white">
                                <a class="nav-link active" routerLink="/home"><i class='fas fa-home'></i> {{navLink1}}</a>
                            </li>
                            <li class="nav-item text-white">
                                <a class="nav-link active" routerLink="/sign-in"><i class="fas fa-user"></i>  Hi, {{user}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>