<div class="container mt-3" id="mentor-body">
    <div class="row justify-content-center">
        <ul class="nav nav-pills nav-fill" id="mentor-menu">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/mentor/in-progress" routerLinkActive="active"> Training in Progress </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/mentor/completed" routerLinkActive="active"> Completed Trainings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/mentor/edit-skills" routerLinkActive="active"> Edit Skills </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/mentor/payments" routerLinkActive="active"> Payments </a>
            </li>
        </ul>
    </div>
</div>