<div class="container mt-4">
    <div class="row justify-content-center mt-2">
        <div class="col-sm-auto">
            <h3>Available Technologies</h3>
        </div>
    </div>
    <div class="row justify-content-center mt-3" id="available-skills">
        <div class="col-sm-auto" id="mysql">
            <button type="button" class="btn btn-info" id="mysql-button">MySQL</button>
        </div>
        <div class="col-sm-auto" id="bootstrap">
            <button type="button" class="btn btn-info" id="bootstrap-button">Bootstrap</button>
        </div>
        <div class="col-sm-auto" id="java">
            <button type="button" class="btn btn-info" id="java-button">Java</button>
        </div>
        <div class="col-sm-auto" id="angular">
            <button type="button" class="btn btn-info" id="angular-button">Angular</button>
        </div>
        <div class="col-sm-auto" id="css">
            <button type="button" class="btn btn-info" id="css-button">CSS</button>
        </div>
    </div>
    <div class="row justify-content-center top-buffer mt-4">
        <div class="col-sm-auto">
            <h3>Your Technological Skills</h3>
        </div>
    </div>
    <div class="row justify-content-center top-buffer mt-3" id="mentor-skills">
        <div class="col-sm-auto" id="spring">
            <button type="button" class="btn btn-info">Spring</button>
        </div>
    </div>
    <div class="row justify-content-center top-buffer mt-5" id="mentor-skills">
        <div class="col-sm-auto">
            <button type="button" class="btn btn-success">Save</button>
        </div>
    </div>
</div>