<div class="container mt-3">
    <div class="row bg-light p-3 border">
        <div class="col-sm-3 justify-content-center">
            <p class="h4">Technology</p>
        </div>
        <div class="col-sm-3 justify-content-center">
            <p class="h4">Fee</p>
        </div>
        <div class="col-sm-3 justify-content-center">
            <p class="h4">Commission</p>
        </div>
        <div class="col-sm-3 justify-content-center">
            <p class="h4">Action</p>
        </div>
    </div>
    <div class="row p-3 border">
        <div class="col-sm-3">
            <p>Spring</p>
        </div>
        <div class="col-sm-3">
            <p>&#8377; 20,000</p>
        </div>
        <div class="col-sm-3">
            <p>10%</p>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-info mr-2">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </div>
    </div>
    <div class="row p-3 border">
        <div class="col-sm-3">
            <p>Angular</p>
        </div>
        <div class="col-sm-3">
            <p>&#8377; 25,000</p>
        </div>
        <div class="col-sm-3">
            <p>8%</p>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-info mr-2">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </div>
    </div>
    <div class="row p-3 border">
        <div class="col-sm-3">
            <p>MySQL</p>
        </div>
        <div class="col-sm-3">
            <p>&#8377; 30,000</p>
        </div>
        <div class="col-sm-3">
            <p>12%</p>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-info mr-2">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </div>
    </div>
    <form name="">
        <div class="row p-3 border">
            <div class="col-sm-3">
                <input class="form-control" placeholder="Technology" type="text">
            </div>
            <div class="col-sm-3">
                <input class="form-control" placeholder="Fee" type="text">
            </div>
            <div class="col-sm-3">
                <input class="form-control" placeholder="Commission" type="text">
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-success">Add</button>
            </div>
        </div>
    </form>
</div>