<div class="container mt-3" id="search-body">
    <div class="row justify-content-center">
        <ul class="nav nav-pills nav-fill" id="user-menu">
            <li class="nav-item">
                <a class="nav-link" routerLink="/user/search" routerLinkActive="active"> Search </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user/in-progress" routerLinkActive="active"> Training in Progress</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user/completed" routerLinkActive="active">Completed Training</a>
            </li>
        </ul>
    </div>
</div>