<div class="container mt-3">
    <div class="row bg-light p-3 border">
        <div class="col-sm-4 justify-content-center">
            <p class="h4">Trainee</p>
        </div>
    </div>
    <div class="row p-3 bg-light border">
        <div class="col-sm-4">
            <p class="h5">Name</p>
        </div>
        <div class="col-sm-4">
            <p class="h5">Email</p>
        </div>
        <div class="col-sm-4">
            <p class="h5">Action</p>
        </div>
    </div>
    <div class="row p-3 border">
        <div class="col-sm-4">
            <p>Shwetha T</p>
        </div>
        <div class="col-sm-4">
            <p>shwetha97@gmail.com</p>
        </div>
        <div class="col-sm-4">
            <input type="button" class="btn btn-danger" id="user-1" value="Block">
        </div>
    </div>
    <div class="row p-3 border">
        <div class="col-sm-4">
            <p>Joel Rajesh</p>
        </div>
        <div class="col-sm-4">
            <p>rajesh.joel@gmail.com</p>
        </div>
        <div class="col-sm-4">
            <input type="button" class="btn btn-primary" id="user-2" value="Unblock">
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row bg-light p-3 border">
        <div class="col-sm-4 justify-content-center">
            <p class="h4">Trainer</p>
        </div>
    </div>
    <div class="row p-3 bg-light border">
        <div class="col-sm-4">
            <p class="h5">Name</p>
        </div>
        <div class="col-sm-4">
            <p class="h5">Email</p>
        </div>
        <div class="col-sm-4">
            <p class="h5">Action</p>
        </div>
    </div>
    <div class="row p-3 border">
        <div class="col-sm-4">
            <p>Jacob Thomas</p>
        </div>
        <div class="col-sm-4">
            <p>jacobthomas007@gmail.com</p>
        </div>
        <div class="col-sm-4">
            <input type="button" class="btn btn-primary" id="user-3" value="Unblock">
        </div>
    </div>
    <div class="row p-3 border">
        <div class="col-sm-4">
            <p>Joseph Mathew</p>
        </div>
        <div class="col-sm-4">
            <p>josephmathew003@gmail.com</p>
        </div>
        <div class="col-sm-4">
            <input type="button" class="btn btn-danger" id="user-4" value="Block">
        </div>
    </div>
</div>