<div class="container-fluid">
    <div class="row">
        <div class="container-fluid" id="logo-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-1 px-5">
                        <a routerLink="/user"><img src="./../../../assets/images/logo.jpg" alt="" id="logo"></a>
                    </div>
                    <div class="col-sm-5 col-mx-0" id="logo-text">
                        <a routerLink="/user" class="navbar-brand">Mentor On Demand</a>
                    </div>
                    <div class="col justify-content-end">
                        <ul class="nav justify-content-end navbar-dark">
                            <li class="nav-item text-white">
                                <a class="nav-link active" routerLink="/user"><i class='fas fa-home'></i>  Home</a>
                            </li>
                            <li class="nav-item text-white">
                                <a class="nav-link active" routerLink="/user"><i class="fas fa-user"></i>  Hi, User</a>
                            </li>
                            <li class="nav-item text-white">
                                <a class="nav-link active" routerLink="/user"><i class="fas fa-bell"></i>  Notifications</a>
                            </li>
                            <li class="nav-item text-white">
                                <a class="nav-link active" routerLink="/home"><i class="fas fa-sign-out-alt"></i>  Log Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>