<div class="container">
    <div *ngIf="isFailed" class="alert alert-danger mt-3" role="alert">
        <div class="row justify-content-center">
            <div class="col">
                Invalid login Credentials !!!!!
            </div>
        </div>
    </div>
    <div class="row justify-content-center" id="content">
        <aside class="col-sm-4">
            <div class="card">
                <article class="card-body">
                    <a routerLink="/home/sign-up/user" class="float-right btn btn-outline-primary">Sign up</a>
                    <h4 class="card-title mb-4 mt-1">Sign in</h4>
                    <form [formGroup]="loginDetails" (ngSubmit)="validateLogIn()">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" id="username" formControlName="username" class="form-control" placeholder="username" required>
                        </div>
                        <!-- form-group// -->
                        <div class="form-group">
                            <label for="password">Password :</label>
                            <input type="password" id="password" formControlName="password" class="form-control" placeholder="********" required>
                        </div>
                        <!-- form-group// -->
                        <div class="form-group">
                            <label for="account-type">Select account type :</label>
                            <select class="form-control" id="account-type" name="account-type" formControlName="accountType">
                                <option value="" selected>-- select account type --</option>
                                <option value="trainee">Trainee</option>
                                <option value="trainer">Trainer</option>
                            </select>
                        </div>
                        <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Login </button>
                        </div>
                    </form>
                </article>
            </div>
            <!-- card.// -->

        </aside>
    </div>

</div>