<div *ngIf="loginService.currentUser == 'guest'">
    <div class="container-fluid mt-3" id="footer">
        <div class="col align-self-center">
            <strong>
                    <div class="footer-copyright text-center py-3">© 2019 Copyright :
                        <a href="" class="footer-brand" router-link="['/']"> {{website}}</a>
                    </div>
                </strong>
        </div>
    </div>
</div>

<div *ngIf="loginService.currentUser == 'user'">
    <div class="container-fluid mt-3" id="footer">
        <div class="col align-self-center">
            <strong>
                    <div class="footer-copyright text-center py-3">© 2019 Copyright :
                        <a class="footer-brand" routerLink="/user/search"> {{website}}</a>
                    </div>
                </strong>
        </div>
    </div>
</div>

<div *ngIf="loginService.currentUser == 'mentor'">
    <div class="container-fluid mt-3" id="footer">
        <div class="col align-self-center">
            <strong>
                    <div class="footer-copyright text-center py-3">© 2019 Copyright :
                        <a class="footer-brand" routerLink="/mentor/in-progress"> {{website}}</a>
                    </div>
                </strong>
        </div>
    </div>
</div>