<div class="container mt-5 p-3">
    <div class="row justify-content-center bg-light border p-3" id="menu-content">
        <h4>Completed Trainings</h4>
    </div>
    <div class="row border p-3">
        <div *ngFor="let data of trainingData">
            <div  *ngIf="data.status == 'Completed' && loginService.userName == data.trainer" class="col card m-2">
                <div class="card-body m-3">
                    <div class="row">
                        <div class="col text-left pt-3">
                            <strong>Course : </strong> {{data.course}}<br>
                            <strong>Trainee : </strong> {{data.trainee}}<br>
                            <strong>Completed On : </strong> {{data.date}}<br />
                            <strong>Rating : </strong> {{data.rating}} / 10<br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>