<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">
                Withdraw fee
            </h2>
        </div>

        <div class="card-body">
            <div class="col card mt-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img src="./../../../assets/images/Spring.png" width="150px" height="150px" class="rounded float-left" alt="">
                        </div>
                        <div class="col pt-3">
                            <strong>Trainee : </strong>Joseph Mathew<br>
                            <strong>Course : </strong>Spring <br>
                            <strong>Completed : </strong>100% <br>
                            <strong>Payments made : </strong>0 <br>
                            <strong>Pending Payments : </strong>4 <br>
                        </div>
                        <div class="col text-center pt-5">
                            <button type="button" class="btn btn-primary">Withdraw
                                                            payment</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col card mt-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img src="./../../../assets/images/Spring.png" width="150px" height="150px" class="rounded float-left" alt="">
                        </div>
                        <div class="col pt-3">
                            <strong>Trainee : </strong>Shwetha T<br>
                            <strong>Course : </strong>Spring <br>
                            <strong>Completed : </strong>63% <br>
                            <strong>Payments made : </strong>2 <br>
                            <strong>Pending Payments : </strong>2 <br>
                        </div>
                        <div class="col text-center pt-5">
                            <button type="button" class="btn btn-primary" disabled>Withdraw
                                            payment</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col card mt-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img src="./../../../assets/images/Spring.png" width="150px" height="150px" class="rounded float-left" alt="">
                        </div>
                        <div class="col pt-3">
                            <strong>Trainee : </strong>Swetha T<br>
                            <strong>Course : </strong>Spring <br>
                            <strong>Completed : </strong>0% <br>
                            <strong>Payments made : </strong>0 <br>
                            <strong>Pending Payments : </strong>4 <br>
                        </div>
                        <div class="col text-center pt-5">
                            <button type="button" class="btn btn-primary" disabled>Withdraw
                                                payment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">
                History
            </h2>
        </div>
        <div class="container">
            <div class="card-body">
                <div class="col card mt-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <img src="./../../../assets/images/Spring.png" width="150px" height="150px" class="rounded float-left" alt="">
                            </div>
                            <div class="col pt-3">
                                <strong>Trainee : </strong>Joel Rajesh<br>
                                <strong>Course : </strong>Spring <br>
                                <strong>Payment Status : </strong>Payment Recieved
                            </div>
                            <div class="col text-center pt-5">
                                <button type="button" class="btn btn-primary">Payment
                                            Details</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col card mt-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <img src="./../../../assets/images/Spring.png" width="150px" height="150px" class="rounded float-left" alt="">
                            </div>
                            <div class="col pt-3">
                                <strong>Trainee : </strong>Fathima B<br>
                                <strong>Course : </strong>Spring <br>
                                <strong>Payment Status : </strong>Payment Recieved
                            </div>
                            <div class="col text-center pt-5">
                                <button type="button" class="btn btn-primary">Payment
                                                Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>