<div id="trainee-reg" class="container pl-5 pb-3">
    <form class="md-form col-6 mt-3">
        <div class="file-field">
            <div class="mb-4">
                <img src="./../../../../assets/images/profile-pic.png" width="150px" height="150px" class="rounded-circle z-depth-1-half avatar-pic" alt="">
            </div>
            <input type="file" class="btn btn-secondary">&nbsp;
            <button class="btn btn-primary" type="button">Upload</button>
        </div><br>
    </form>
    <form class="col-7">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="Full name" type="text">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="Email address" type="email">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>

            <input name="" class="form-control" placeholder="Phone number" type="text">
        </div>

        <label for="" class="theme-color-5">Password</label><br>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Password" type="password">
        </div>
        <label for="" class="theme-color-5">Confirm Password</label><br>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Password" type="password">
        </div>
        <div class="form-group col-4 mt-2">
            <a type="submit" class="btn btn-success btn-block" routerLink="/home/sign-in">Register</a>
        </div>

    </form>
</div>