<div class="container">
    <div *ngIf="loginFailed" class="alert alert-danger mt-3" role="alert">
        <div class="row justify-content-center">
            <div class="col">
                Invalid login Credentials !!!!!
            </div>
        </div>
    </div>
    <div class="row  justify-content-center mt-5" id="content">
        <aside class="col-sm-4">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title mb-4 mt-1"><i class='fa fa-wrench'></i> Admin Sign In</h4>
                    <form name="adminSignInForm" [formGroup]="loginDetails" (ngSubmit)="validateAdminLogIn()">
                        <div class="form-group">
                            <label for="admin-username">Admin Username :</label>
                            <input id="admin-username" class="form-control" formControlName="username" placeholder="username" type="text" name="admin-username">
                        </div>
                        <!-- form-group// -->
                        <div class="form-group">
                            <label for="admin-password">Admin Password :</label>
                            <input id="admin-password" class="form-control" formControlName="password" placeholder="********" type="password" name="admin-password">
                        </div>
                        <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Login </button>
                        </div>
                        <!-- form-group// -->
                    </form>
                </article>
            </div>
            <!-- card.// -->

        </aside>
    </div>
</div>